body{
    text-align: right;
    margin: 0;
    color: chartreuse;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: solid 1px blueviolet;
    margin: 0 auto;
}